{% extends "base.html" %}
{% load widget_tweaks %}

{% block content %}
<h2>Login</h2>

{% if form.errors %}
<p class="alert alert-danger">Your username and password didn't match. Please try again.</p>
{% endif %}

<form method="post" action="{% url 'login' %}">
  <div class="form-group">
  {% csrf_token %}
  <table>
    <tr>
      <td>{% render_field form.username.label_tag %}</td>
      <td>{% render_field form.username class+="form-control" %}</td>
    </tr>
    <tr>
      <td>{% render_field form.password.label_tag %}</td>
      <td>{% render_field form.password class+="form-control" %}</td>
    </tr>
  </table>

  <input type="submit" class="btn btn-primary" value="Login" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>

{% endblock %}
